/* Importerer fra google fonts */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');

body{
    margin: 0;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    margin: 5px;
}

/* Hvor vanskelighetsgrad, nytt-spill knapp og score vises */
#game-navbar{
    width: 100%;
    padding: 10px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    border-bottom: 1px black solid;
    color: white;
    background-color: rgb(255,255,255,0.2);
    align-items: center;
}

#game-navbar-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#choose-game{
    border: 2px solid black;
    text-align: center;
    font-weight: bold;
    background-color: whitesmoke;
    color: black;
}

#difficulty{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
}

#high-score, #succession{
    color: #F4DB7D;
}



/* Styling for nytt spillelement */
#new-game{
    font-family: 'Playfair Display', serif;
    border: 3px solid black;
    padding: 5px 30px;
    color: black;
    background-color: whitesmoke;
}

#new-game:hover, #choose-game:hover{
    cursor: pointer;
    background-color:gainsboro;
}




/* Styling for brettet */
#board{
    height: 320px;
    width: 320px;
    border: 10px solid darkgreen;
    background-color:green;
    font-weight: bold;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

/* Styling for divene som genereres og legges til i brettet */
#board div{
    width: 38px;
    height: 38px;
    border: 1px solid gainsboro;

    /* tekst */
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#board:hover{
    cursor:default;
}

.fa-land-mine-on{
    color:rgb(34, 34, 34);
}

/* Viser hvilke ruter som har blitt trykket på */
.tile-clicked{
    background-color:gainsboro;
}

/* Ulike klasser som matcher til hvor mange bomber er rundt hver rute */
/* Fargene matcher det origianale minesweeperspillet */
.n1{
    color: blue;
}

.n2{
    color: green;
}

.n3{
    color: red;
}

.n4{
    color: navy;
}

.n5{
    color: brown;
}

.n6{
    color: teal;
}

.n7{
    color: black;
}

.n8{
    color: grey;
}

/* Flagknappen */
#flag-button{
    margin-top: 20px;
    width: 100px;
    height: 50px;
    font-size: 30px;
    background-color: gainsboro;
    border: none;
}

#flag-button:hover{
    cursor: pointer;
}


/* Mobilvennelig */
@media(max-width: 576px){
    #game-navbar{
        display: flex;
        flex-direction: column;
    }
    #new-game{
        margin: 5px;
    }
    h1, #win-lose{
        font-size:larger;
    }
}